.nested-ruleset (@width: 200px) {
    width: @width;
    .column { 
    	margin: @width; 
    	&.blue {
    		color: blue;
    		.deep {
    			padding: @width;
    		}
    	}
    }
}
.content {
    .nested-ruleset(600px);
} 
.content-em {
    .nested-ruleset();
}
//
// filter mixins
//
.placeholder(@color: #000) {
  :-moz-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
}

.div {
	.placeholder(#fff);
}